h1{
    text-align: center;
    margin-top: 40px;
}
.col-md-3{
    
width: 200px;

box-sizing: content-box;
    border: 1px solid rgb(223, 220, 220);
    border-radius: 3px;
    margin-top: 20px;
    margin-right: 52px;

   
}
img{
    align-items: center;
    width: 200px;
}