<div class="container">
    <h1 >Clients & Partners</h1>
    <div class="row">
      <div class="col-md-3">
       <img src="assets/image/founder-institute.jpg">
      </div>
      <div class="col-md-3">
        
        <img src="assets/image/PregBuddy.jpg">
      </div>
      <div class="col-md-3">
     
        <img src="assets/image/vue.jpg">
      </div>
      <div class="col-md-3">
      
        <img src="assets/image/cerdit.jpg">
      </div>
    </div>
    <div class="row">
        <div class="col-md-3">
         <img src="assets/image/iboost.jpg">
        </div>
        <div class="col-md-3">
          
          <img src="assets/image/toronto-city.jpg">
        </div>
        <div class="col-md-3">
       
          <img src="assets/image/tce.jpg">
        </div>
        <div class="col-md-3">
        
          <img src="assets/image/apira.jpg">
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
         <img src="assets/image/1-12.jpg">
        </div>
        <div class="col-md-3">
          
          <img src="assets/image/pupaclic.jpg">
        </div>
        <div class="col-md-3">
       
          <img src="assets/image/spaceishare.jpg">
        </div>
        <div class="col-md-3">
        
          <img src="assets/image/webclues.jpg">
        </div>
      </div>
      <div class="row">
      <div class="col-md-1">
        
        <img src="assets/image/thoughtworks.jpg">
      </div>
      </div>
  </div>
  
