<div class="container">
    <header class="contant">
        <img src="assets/image/logo.png" alt="logo" class="logo" >
        <ul class="navbar">
            <li><a href="#">Articles</a></li>
            <li><a href="#">Testimonial</a></li>
            <li><a href="#">Docs</a></li>
            <li><a href="#">Courses</a></li>
            <li><a href="#">Login</a></li>
  
        </ul>
        <button class="btn btn-success">Sign Up</button>

    </header>

    <div class="row">
    <div class="col-sm-1 col-md-2">
        
       <h1 class=" h1-head">Micro-prediction for everyone</h1>
        <p class="para">Volunteers do Micro-Prediction/Analytics for everyone in the world</p>
        <button class="button">Featurepreneur Projects</button>
  
</div>
            <div class="col-md-2 col-sm-1">
            <img src="assets/image/banner.jpg" alt="banner" class="banner" > </div>
          
        <app-work></app-work>
        <div class="client">
            <h1 class="client-h1">Features for everyone!</h1>
        </div>
        <app-client></app-client>
        <div class="client"><h1 class="client-h1">
            Build a feature and impress your employer</h1>
        </div>
        <app-feature></app-feature>
    
</div>


