<div class="contanier">
    <div class="row">
        <div class="col-md-3">
         <img src="assets/image/royalbank.png" style="margin-top: 20px;">
        </div>
        <div class="col-md-3">
          
          <img src="assets/image/amazon.png" style="margin-top: 50px;">
        </div>
        <div class="col-md-3">
       
          <img src="assets/image/ey.png" style="width: 100px; margin-left: 30px;">
        </div>
        <div class="col-md-3">
        
          <img src="assets/image/BNP.jpeg"style="margin-top: 5px;">
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
         <img src="assets/image/zilker.png">
        </div>
        <div class="col-md-3">
          
          <img src="assets/image/isdc.png">
        </div>
        <div class="col-md-3">
       
          <img src="assets/image/zoho.png">
        </div>
        <div class="col-md-3">
        
          <img src="assets/image/nyu.jpeg">
        </div>
      </div>
</div>
